:root {
    --text-color: #dbdbdb;
    --bg-color: #202126;
    
    --link-color: #5098d5;
    --link-color-visited: #3d5fc0;
    --link-color-active: #ed3d0e;
    
    --bg-image-left: none;
    --bg-image-right: none;
}

body {
    margin: 0;
	font: 1.15em sans-serif;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

header {
	text-align: center;
	text-shadow: 0 0 0.15em var(--text-color);
	letter-spacing: 1em;
}

header #indexlink {
	color: inherit;
	text-decoration: inherit;
}

footer {
	text-align: center;
	font-size: 75%;
}

#container {
    display: flex;
    min-height: 100vh;
}

#leftSide {
    flex-grow: 1;
    background-image: var(--bg-image-left);
}

#rightSide {
    flex-grow: 1;
    background-image: var(--bg-image-right);
}

#middle {
    flex-grow: 1;
    max-width: 60ch;
    padding: 0 1em 0 1em;
}

article {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
	width: 30ch;
	margin: 3em auto;
}

a:link { color: var(--link-color); }
a:visited { color: var(--link-color-visited); }
a:active { color: var(--link-color-active); }

.spacing-025em {
    letter-spacing: 0.25em;
}

.imageContainer {
    text-align: center;
}

.smallImage {
    width: 25%;
}

.center {
    text-align: center;
}
