:root {
    --text-color: #dbdbdb;
    --bg-color: #202126;
    
    --link-color: #5098d5;
    --link-color-visited: #3d5fc0;
    --link-color-active: #ed3d0e;
    
    --left-side-bg: none;
    --right-side-bg: none;
}

body {
    margin: 0;
	font: 1.15em sans-serif;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--text-color);
	line-height: 1.5;
}

hr, .hr {
    border: 0;
    border: 1px var(--text-color) inset;
    opacity: 0.75;
}

header {
	text-align: center;
	text-shadow: 0 0 0.15em var(--text-color);
	letter-spacing: 1em;
}

header #indexlink {
	color: inherit;
	text-decoration: inherit;
}

footer {
	font-size: 75%;
	display: flex;
	flex-wrap: wrap;
}

footer div {
    flex: 1;
    min-width: 20ch;
    padding: 1em;
}

footer div p:first-child {
    font-weight: bold;
}

#container {
    display: flex;
    min-height: 100vh;
}

#leftSide {
    flex-grow: 1;
    background: var(--left-side-bg);
}

#rightSide {
    flex-grow: 1;
    background: var(--right-side-bg);
}

#middle {
    flex-grow: 1;
    max-width: 60ch;
    padding: 0 1em 0 1em;
}

article {
    margin-top: 4em;
    margin-bottom: 4em;
}

hr {
	width: 30ch;
	margin: 3em auto;
}

a:link { color: var(--link-color); }
a:visited { color: var(--link-color-visited); }
a:active { color: var(--link-color-active); }

.spacing-025em {
    letter-spacing: 0.25em;
}

.imageContainer {
    text-align: center;
}

/* still a hack but better i guess */
.bigPxImageContainer {
    width: 95vw;
    margin-left: calc((95vw - 100%) / -2);
    text-align: center;
}

.imageContainer {
    margin-top: 2em;
    margin-bottom: 2em;
}

.bigPxImageContainer img {
    max-width: 100%;
}

.smallImage {
    width: 25%;
}

.normalImage {
    width: 100%;
}

.imageCaption {
    font-style: italic;
    font-size: 75%;
}

.center {
    text-align: center;
}

.contentNote {
    color: #2B2B2B;
    background-color: #edbf43;
    border: 0.25em #ce8a2e solid;
    border-radius: 0.75em;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1em #271306;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contentNote p {
    margin: 0.5em 0.25em 0.5em 0.25em;
}

.warningSign {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.hiddenLink {
    color: var(--text-color);
    text-decoration: none;
}

.bottomNav {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: center;
}

.bottomNavElem {
    text-align: center;
    align-self: center;
}

.bottomNavArrow {
    font-weight: bold;
    font-size: 2em;
}

.bottomNavArrow, .bottomNavElem {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
