img {
    display: block;
    margin: auto;
    width: 50%;
    box-shadow: 0px 0px 10px 5px black;
}

article img:nth-of-type(1) {
    animation: rotate1 4s infinite linear;
}

@keyframes rotate1 {
    0% { transform: rotate3d(0, 1, 0, 0deg); }
    100% { transform: rotate3d(0, 1, 0, 360deg); }
}

article img:nth-of-type(2) {
    animation: rotate2 4s infinite linear;
}

@keyframes rotate2 {
    0% { transform: rotate3d(1, 0, 0, 0deg); }
    100% { transform: rotate3d(1, 0, 0, 360deg); }
}

article img:nth-of-type(3) {
    animation: rotate3 4s infinite linear;
}

@keyframes rotate3 {
    0% { transform: rotate3d(1, 1, 1, 0deg); }
    100% { transform: rotate3d(-1, -1, -1, 360deg); }
}
